
<style>
    /* Ensure the page height is 100% */
html {
    height: 100%;
}

body {
    /* display: flex; */
    /* flex-direction: column; */
    min-height: 100%;
    margin: 0;
    /* font-family: Arial, sans-serif; */
}

.hand-pointer {
      cursor: pointer;
    }

/* Your existing navbar styles */
/* ... */

/* Main content wrapper */
.main-content {
    flex-grow: 1;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 14px;
    position: fixed;
    height: 60px;
    bottom: 0;
    width: 100%;
}

</style>
<footer class="footer">
    <p>Copyright &copy; 2023 Florida Atlantic University</p>
</footer>
